[Main]
ironman.base_url = https://www.ironman.com/
chromedriver.location = driver/chromedriver.exe

[Database]
database.host=localhost
database.port=3306
database.dbname=dbname
database.user=user
database.pass=password

